@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Pridi:wght@200;300;400;500;600;700&display=swap');

:root{
    --font-titulos:'Pridi', serif;
    --font-textos:'Roboto', sans-serif;
    --cor1:#1DAA47;
    --cor2:#065064;
}
main > #top1 {
    font-family: var(--font-titulos);
    color: white;
    text-align: center;
    padding: 20px;
    background-color: #1DAA47;
}
/* ---- informaçõs ----- */
.informações {
    background-color: #1DAA47;
    color: white;
    height: 45vh;
    font-family: var(--font-textos);
    padding: 10px 0px;
}
.informações > h3 {
    font-weight: 500;
    font-family: var(--font-titulos);
    text-align: center;
    margin-bottom: 3vh;
}
.informações > article{
    display: flex;
}

.left > div {
    margin-bottom: 3vh;
}
#card_1 {
    display: flex;
}
#card_1 > img {
    width: 60px;
    height: 60px;
    padding: 0px 10px;
}
#card_2 {
    display: flex;
}
#card_2 > img {
    width: 60px;
    height: 60px;
    padding: 0px 10px;
}
.left {
    width: 20vw;
    margin-left: 26%;
    padding: 0px 70px 0px 0px;
    padding-top: 30px;
}
.right {
    width: 35vh;
    margin-right: 10%;
    height: 22vh;
    display: flex;
    padding: 0px 0px 0px 70px;
    border: 1px hidden;
    border-left-style: solid;
    padding-top: 30px;
}
.right > div >img {
    padding: 20px 10px;
    width: 50px;
    display: flex;
}
/*------ animação --------*/
.anim {
    background-color: #043341;
}
.anim > aside {
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    border: 1px solid;
}
/* os balões */

#ballon-piraseg {
    margin: 2%;
    width: max-content;
    color: #ffffff;
    text-align: center;
    font-family: var(--font-textos);
    padding: 20px 50px;
    background-color: #065064;
    border: 2px solid #043341;
    border-radius: 10px;
}

#ballon-user {
    margin: 2%;
    margin-left: auto;
    width: max-content;
    color: #ffffff;
    text-align: center;
    font-family: var(--font-textos);
    padding: 20px 50px;
    background-color:#1DAA47;
    border: 2px solid #138a36;
    border-radius: 10px;
}
.anim > aside > div > h4 {
    width: max-content;
    text-align: left
}
.contato > div {
    margin-bottom: 3vh;
}
.contato > div > img {
    width: 20px;
    padding: 0px 10px;
}
.contato {
    text-align: left;
    width: 100%;

}